*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    direction: ltr;
}
@font-face {
  font-family: "codL";
  src: url('../fonts/AvenirLTStd-Light.otf');
}
@font-face {
  font-family: "cod";
  src: url('../fonts/AvenirLTStd-Medium.otf');
}
@font-face {
  font-family: 'codB';
  src: url('../fonts/AvenirLTStd-Black.otf');
}
.container{
    width: 85%;
    margin: 0px auto;
}
.under-title{
  text-transform: capitalize;
}
.slider{
    background-image: linear-gradient(to top, #4d4c4c4f, #000000) , url('../images/pizza-g53d8f12b6_1920.jpg');
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center center;
}
.slider-content{
    display: grid;
    grid-template-rows: repeat(3, min-content);
    justify-content: center;
    height: 90vh;
    align-content: center;
    text-align: center;
    row-gap: 15px;
}
.slider-content h3{
    color: white;
    font-size: 30px;
}
.slider-content h2{
    color: white;
    font-size: 40px;
}
.slider-content span{
    color: orange;
    margin-right: 10px;
}
.slider-content button{
    justify-self: center;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: orange;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 15px;
    transition: all .7s;
    width: 200px;
}
.slider-content button:hover{
    background-color: white;
    color: orange;
    width: 250px;
}

/* * -------------Header Section---------*/
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  width: 100%;
  background: transparent;
  color: #000;
  opacity: 0.85;
  height: 100px;
  z-index: 12;

}
.logo{
    color: orange;
    font-size: 25px;
    transition: all 1s;
    cursor: pointer;
}
.logo:hover{
  color: white;
}
.navbar-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, max-content);
  height: 100px;
  align-items: center;
}
.menu-items li {
  list-style: none;
  display: inline;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
    color: white;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: orange;
  transition: color 0.3s ease-in-out;
}
.header-btn{
  background-color: orange;
  border: 0;
  outline: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 15px 20px;
  font-weight: 400;
  font-size: 15px;
  transition: all 1s;
}
.header-btn:hover{
  color: orange;
  background-color: white;
}
.title h3{
  text-align: center;
  font-size: 30px;
  margin:30px auto;
  position: relative;
}
.title h3::after,
.title h3::before{
  content: '';
  position: absolute;
  background-color: orange;
  width: 100px;
  height: 3.5px;
  top: 45px;
  transform: translate(-50%, -50%);
  left: 50%;
}
.store-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  margin: 20px 0px;
}
.store-img-items{
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: all .5s;
  overflow: hidden;
}
.store-img-items img{
  transition: .5s;
  border-radius: 5px;
}
.store-img-items:hover img{
  transform: scale(1.1);
}
.types{
  /* background-color: #E3E1E0; */
  background-color: rgba(255, 166, 0, 0.329);
  width: 100%;
  height: 25vh;
  margin: 50px 0px;
}
.types-group{
  display: flex;
  height: 25vh;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  /* overflow: scroll; */
}
.types-items img{
  width: 70px;
  margin-right: 50px;
  transition: all .5s;
  overflow: hidden;
  cursor: pointer;

}
.types-items:hover img{
  transform: scale(.9);
}
.under-title{
  font-size: 16px;
  text-align: center;
  color: #373737;
  border-radius: 5px;
  margin: 10px auto;
}
.service-group{
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  grid-auto-rows: 250px;
  grid-gap: 50px;
  margin: 50px 0px;
  justify-content: center;
}
div .service-item-img{
  height: 85%;
  width: 100%;
  background-size: cover !important;
  background-position: center center !important;
  border-radius: 0px 50px 0px 50px;
  position: relative;
  cursor: pointer;
}
.service-item-hover{
  position: absolute;
  top: 40px;
  left: 20px;
  width: calc(100% - 60px);
  height: calc(100% -60px);
  background-color: rgba(255, 255, 255, .9);
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .4s;
  padding: 30px; 
  border-radius: 50px 0px 50px 0px;
}
.service-item-hover h3{
  color: orange;
  margin-bottom: 5px;
  font-weight: 700;
  font-family: codl;
}
.service-item-hover p{
  font-family: cod;
  text-align: center;
}
.service-item-img:hover .service-item-hover{
  visibility: visible !important;
  opacity: 1;
}
.service-item-content{
  text-align: center;
  margin-top: 10px;
}
.service-item-content p{
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
  font-family: cod;
}
.service-item-content h4{
  font-family: codb;
  font-size: 18;
}
.reserve{
  height: 80vh;
  margin: 50px 0px;
}
.reserve-background{
  background-image: linear-gradient(to top, #4d4c4c4f, #000000) , url('../images/shawnanggg-nmpW_WwwVSc-unsplash.jpg');
  height: 70vh;
  background-size: cover;
  background-position: center center;
}
.reserve-left{
  background-color: black;
  display: grid;
  grid-column: 2/3;
  grid-template-rows: .5fr 1fr .5fr .5fr .5fr 2fr;
  opacity: .8;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.reserve-right{
  background-color: white;
  opacity: .8;
  display: grid;
  grid-column: 3/6;
  grid-template-rows: .5fr 1fr .5fr 1fr 2.5fr;
  text-align: center;
  padding-top: 30px;
}
.reserve-content{
  display: grid;
  grid-template-columns: 50px repeat(4, 1fr) 50px;
  grid-template-rows: 1fr;
  padding: 40px;
  align-content: center;
  height: 70vh;
}
.reserve-right-img img{
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  width: 200px;
  justify-self: center;
}
.reserve-right-img{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.reserve-left h4{
  color: orange;
  font-size: 17px;
  font-family: 'Alegreya Sans', sans-serif;
}
.reserve-left p{
  font-family: cod;
}
.reserve-right p{
  color: orange;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}
.gallery-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 280px);
  grid-template-areas: "g1 g1 g2" "g3 g4 g2" "g3 g5 g5";
  padding: 30px 70px;
  gap: 1rem;
}
.img1{
  background-image: url('../images/gallery1.jpg');
  grid-area: g1;
}
.img2{
  background-image: url('../images/gallery2.jpg');
  grid-area: g2;
}
.img3{
  background-image: url('../images/gallery3.jpg');
  grid-area: g3;
}
.img4{
  background-image: url('../images/gallery4.jpg');
  grid-area: g4;
}
.img5{
  background-image: url('../images/gallery5.jpg');
  grid-area: g5;
}

.gallery-img{
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius:15px !important;
}
.footer{
  border-top: 1.5px solid #373737;
  margin-top: 50px;
  background-color:#FFE2AB ;

}
.footer-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 1fr;
  text-align: center;
  padding: 25px;

}
.footer-section li{
  list-style-type: none;
  font-family: cod;
  margin-top: 5px;
}
.footer-title{
  color: orange;
  font-size: 18px;
  text-transform: capitalize;
}
.copy{
  padding-bottom: 10px;
  text-align: center;
}
.copy span{
  color: orange;
  font-family: 'Alegreya Sans', sans-serif;
}